<div class="header">
    <div class="logo">
        <a href="https://us.edu.pl/">
            <img src="/artgorytm/assets/images/us.png" alt="Logo">
        </a>
    </div>
    <nav class="navbar">
        <a href="/artgorytm/index.html">STRONA GŁÓWNA</a>
        <a href="/artgorytm/html/about.html">O APLIKACJI</a>
        <a href="/artgorytm/html/my_gallery.html">MOJA GALERIA</a>
        <a href="/artgorytm/html/edytor.html">EDYTOR</a>
        <span id="user-info" style="display: none;"></span> <!-- User info text -->
        <a id="login-logout-link" href="/artgorytm/html/login.html">ZALOGUJ SIĘ</a>
    </nav>
    
</div>

